section.banner
  img.banner__image(src="images/banner.png", alt="")
  .container.banner__container
    h1.banner__title Активируй иммунитет!
    p.banner__subtitle Всего пять секунд в день помогут укрепить иммунитет и повысить защитные силы организма
    .banner__slogan
      h2.banner__slogan-title Nootris помогает
      p.banner__slogan-subtitle Вашему организму во время пандемии и сезонных простуд
