section.discount
  .container.discount__container
    h2.discount__title Получи защиту иммунитета
      span.discount__title_accent со скидкой -15% первым!
    .discount__price
      span.discount__price-old 750₽
      span.discount__price-new 690₽
    .discount__list
      .discount__item
        img.discount__item-img(src="images/types/ginger.png", alt="")
        p.discount__item-text Содержит
          span.discount__item-text_accent имбирь
      .discount__item.discount__item_large
        img.discount__item-img(src="images/types/nootris.png", alt="")
        p.discount__item-text + Бесплатная доставка
          span.discount__item-text_accent Специальная цена
      .discount__item
        img.discount__item-img(src="images/types/vorus.png", alt="")
        p.discount__item-text Нейтрализует
          span.discount__item-text_accent вирусы
    .discount__btn
      button.btn Оформить заказ!



