- var title = "Nootris"
- var phone = "8 (800) 600-09-90"
-
  var menu = [
      {
        title: 'FAQ',
        link: 'https://avakyandev.github.io/nootris/'
      },
      {
        title: 'Оплата и доставка',
        link: 'https://avakyandev.github.io/nootris/'
      },
      {
        title: 'Возврат',
        link: 'https://avakyandev.github.io/nootris/'
      },
      {
        title: 'Исследования',
        link: 'https://avakyandev.github.io/nootris/'
      },
      {
        title: 'Личный кабинет',
        link: 'https://avakyandev.github.io/nootris/'
      }
    ]

block main
